@font-face {
	font-family: 'PorscheNext';
	src: url('/fonts/PorscheNext/PorscheNext-Regular/PorscheNext-Regular.ttf') format('truetype'), url('/fonts/PorscheNext/PorscheNext-Regular/PorscheNext-Regular.woff2') format('woff2'), url('/fonts/PorscheNext/PorscheNext-Regular/PorscheNext-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'PorscheNext';
	src: url('/fonts/PorscheNext/PorscheNext-Italic/PorscheNext-Italic.ttf') format('truetype'), url('/fonts/PorscheNext/PorscheNext-Italic/PorscheNext-Italic.woff2') format('woff2'), url('/fonts/PorscheNext/PorscheNext-Italic/PorscheNext-Italic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'PorscheNext';
	src: url('/fonts/PorscheNext/PorscheNext-Bold/PorscheNext-Bold.ttf') format('truetype'), url('/fonts/PorscheNext/PorscheNext-Bold/PorscheNext-Bold.woff2') format('woff2'), url('/fonts/PorscheNext/PorscheNext-Bold/PorscheNext-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNovaSoft';
	src: url('/fonts/ProximaNovaSoft/ProximaNovaSoft-Bold/ProximaNovaSoft-Bold.ttf') format('truetype'), url('/fonts/ProximaNovaSoft/ProximaNovaSoft-Bold/ProximaNovaSoft-Bold.woff2') format('woff2'), url('/fonts/ProximaNovaSoft/ProximaNovaSoft-Bold/ProximaNovaSoft-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'UTM Rockwell';
	src: url('/fonts/UTMRockwell/UTMRockwell.ttf') format("truetype"), url('/fonts/UTMRockwell/UTMRockwell.woff2') format("woff2"), url('/fonts/UTMRockwell/UTMRockwell.woff') format("woff");
	font-weight: 700;
	font-style: normal;
}