$font-family-primary: 'PorscheNext', 'serif';
$font-family-secondary: 'ProximaNovaSoft', 'serif';

$gray-color: #333;
$gray-light: #ebebeb;
$blue-color: #3fc5af;
$orange-color: #fe5d25;
$white-color: #fff;
$purple-color: #5f75ed;

//Color for theme
$base-color: $gray-color;
$primary-color: $blue-color;
$secondary-color: $orange-color;
$third-color: $purple-color;
$btn-hover: $white-color;
