@font-face {
	font-family: 'PorscheNext';
	src: url('fonts/PorscheNext/PorscheNext-Regular/PorscheNext-Regular.ttf') format('truetype'), url('fonts/PorscheNext/PorscheNext-Regular/PorscheNext-Regular.woff2') format('woff2'), url('fonts/PorscheNext/PorscheNext-Regular/PorscheNext-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'PorscheNext';
	src: url('fonts/PorscheNext/PorscheNext-Italic/PorscheNext-Italic.ttf') format('truetype'), url('fonts/PorscheNext/PorscheNext-Italic/PorscheNext-Italic.woff2') format('woff2'), url('fonts/PorscheNext/PorscheNext-Italic/PorscheNext-Italic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'PorscheNext';
	src: url('fonts/PorscheNext/PorscheNext-Bold/PorscheNext-Bold.ttf') format('truetype'), url('fonts/PorscheNext/PorscheNext-Bold/PorscheNext-Bold.woff2') format('woff2'), url('fonts/PorscheNext/PorscheNext-Bold/PorscheNext-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNovaSoft';
	src: url('fonts/ProximaNovaSoft/ProximaNovaSoft-Bold/ProximaNovaSoft-Bold.ttf') format('truetype'), url('fonts/ProximaNovaSoft/ProximaNovaSoft-Bold/ProximaNovaSoft-Bold.woff2') format('woff2'), url('fonts/ProximaNovaSoft/ProximaNovaSoft-Bold/ProximaNovaSoft-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

body {
	font-family: "PorscheNext", "serif";
	overflow-wrap: break-word;
	line-height: 1.5;
	font-size: 18px;
	font-weight: 400;
	color: #333;
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: #3fc5af;
	outline: none;
}

a:hover {
	text-decoration: none;
	outline: none;
}

main a :hover {
	text-decoration: none;
}

p {
	margin-top: 0;
}

hr {
	border-top: 5px solid #eee;
	border-left: 0;
}

img {
	max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "ProximaNovaSoft", "serif";
	font-weight: 700;
	position: relative;
	line-height: 1.2;
	color: #333;
}

h1 {
	font-size: 60px;
}

h2 {
	font-size: 48px;
}

h3 {
	font-size: 32px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 18px;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: url(images/arrow-select.png) no-repeat 254px 12px;
	background-size: 10px;
	background-position: calc(100% - 15px) 50%;
	padding: 14px 40px 14px 15px;
}

select::-ms-expand {
	padding: 20px;
}

input[type="number"],
input[type="text"],
input[type="password"],
textarea {
	padding: 18px;
	outline: none;
	border: 1px solid #E9E9E9;
	border-radius: 4px;
}

h2.product-title-bar {
	color: #333;
}

.carousel-indicators .active {
	margin-right: 5px;
}

#top-menu-mobile {
	background: #ebebeb;
	font-size: 15px;
	color: #555;
	height: 44px;
}

.nav0 li a {
	color: #333;
}

.nav0 li a:hover {
	color: #3fc5af;
}

#footer-container #footer {
	padding: 70px 0 55px;
	border-top: 4px solid #fe5d25;
	background: #f2f4f4;
	color: #333;
	font-size: 18px;
}

#footer-container #footer p {
	color: #333;
}

#footer-container #footer h3,
#footer-container #footer h4 {
	font-size: 24px;
	font-family: "PorscheNext", "serif";
	position: relative;
	padding-bottom: 10px;
	margin: 0 0 30px;
	color: #333;
}

#footer-container #footer h3::after,
#footer-container #footer h4::after {
	content: '';
	position: absolute;
	width: 30px;
	height: 3px;
	bottom: 0;
	left: 0;
	background: #3fc5af;
}

#footer-container #footer a {
	color: #333;
	font-size: 18px;
}

#footer-container #footer a:hover {
	color: #3fc5af;
}

#footer-container #footer #block-right h4::after {
	left: auto;
	right: 0;
}

#footer-container #additional-footer {
	padding: 20px 15px 0;
	position: relative;
}

#footer-container #additional-footer::before {
	content: '';
	width: calc(100% - 30px);
	border-top: 1px solid #ccc;
	position: absolute;
	left: 15px;
	top: 0;
	display: block;
}

#footer-container #additional-footer .copyright {
	color: #333;
	font-size: 18px;
}

#product-carousel .item,
#product-carousel .item a {
	outline: none;
}

#product-carousel .item a {
	font-size: 18px;
}

#product-carousel .item .slide-caption {
	margin: 20px 0 0;
}

#product-carousel .item {
	position: relative;
	background: url('images/bg-sign.webp') no-repeat 50% 0 transparent;
	background-size: 100%;
}

#product-carousel  .item .slide-pic-container {
	z-index: 3;
	position: relative;
}

#product-carousel  .item::before {
	content: '';
	width: 87%;
	border: 3px solid #dbdbdb;
	display: block;
	position: absolute;
	top: 25px;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 1;
	padding-top: 72%;
}

@media screen and (max-width: 767px) {
	#mainNav {
		background: #fff;
	}

	#mainNav .navbar-nav li a {
		color: #333 !important;
	}
}

@media screen and (min-width: 768px) {
	header {
		display: block;
	}

	header #top-menu-wrap {
		position: static;
		display: block !important;
		background: #ebebeb;
		font-size: 15px;
		color: #555;
		height: 44px;
	}

	header #top-menu-wrap > .container  {
		width: 100%;
		max-width: none;
		padding: 0 15px;
	}

	header #top-menu-wrap > .container > .row > div {
		position: relative;
		padding: 0 15px;
	}

	header #top-menu-wrap #nav1.sf-menu li {
		background: none;
	}

	header #top-menu-wrap #nav1.sf-menu li a {
		color: #555;
	}

	header #top-menu-wrap #nav1.sf-menu > li > a:hover {
		color: #3fc5af;
	}

	header #top-menu-wrap ul li {
		background: none;
	}

	header #top-menu-wrap ul.nav0 li a {
		color: #555;
	}

	header #top-menu-wrap ul.nav0 li a:hover {
		color: #3fc5af;
	}

	header #mainNav {
		position: relative;
		margin: 0;
		padding: 0;
		z-index: 2;
	}

	header #mainNav .container {
		width: 100%;
		max-width: none;
		padding: 0;
	}

	header #mainNav .navbar-header {
		display: block;
		width: 100%;
		float: none;
		text-align: center;
		background: #fff;
		padding: 0 15px;
	}

	header #mainNav #navbar {
		display: block;
		width: 100%;
		float: none;
		background: #3FC5AF;
	}

	header #mainNav #navbar .nav {
		display: flex;
		max-width: 1300px;
		padding-left: 15px;
		padding-right: 15px;
		margin: 0 auto;
		float: none !important;
		justify-content: space-between;
	}

	header #mainNav #navbar .nav > li > a {
		font-weight: 700;
		font-size: 18px;
		color: #fff;
		padding: 16px 35px 14px;
	}

	header #mainNav #navbar .nav > li > a .caret {
		display: none;
	}

	header #mainNav #navbar .nav .dropdown-menu {
		border-radius: 0;
	}

	header #mainNav #navbar .nav .dropdown-menu li {
		margin-bottom: 5px;
		border: 0;
	}

	header #mainNav #navbar .nav .dropdown-menu li a {
		font-size: 18px;
	}

	header #mainNav .navbar-brand {
		max-height: none;
		height: auto;
		display: inline-block;
		float: none;
		margin: -35px 0 -10px;
	}

	header #mainNav .navbar-brand img {
		max-height: 160px;
		min-height: 140px;
	}
}

@media screen and (min-width: 992px) {
	header #top-menu-wrap > .container > .row > div:before {
		content: '';
		position: absolute;
		display: block;
		border-bottom: 0;
		border-top: 44px solid transparent;
		position: absolute;
		top: 0;
		left: 50px;
		border-left: 40px solid #fff;
		z-index: 1;
	}

	header #top-menu-wrap > .container > .row > div:after {
		content: '';
		position: absolute;
		display: block;
		border-bottom: 0;
		height: 44px;
		background: #fff;
		width: 50px;
		left: 0;
		z-index: 2;
	}

	header #top-menu-wrap > .container > .row > div:first-child:before {
		right: 50px;
		left: auto;
		border-left: 0;
		border-right: 40px solid #fff;
	}

	header #top-menu-wrap > .container > .row > div:first-child:after {
		right: 0;
		left: auto;
	}

	header #mainNav .navbar-brand {
		margin: -45px 0 -10px;
	}

	header #mainNav .navbar-brand img {
		max-height: 140px;
		min-height: 120px;
	}
}

@media screen and (min-width: 1200px) {
	header #top-menu-wrap > .container,
	header #mainNav .navbar-header {
		padding: 0 80px;
	}

	header #mainNav #navbar .nav > li > a {
		padding: 16px 52px 14px;
	}

	header #top-menu-wrap > .container > .row > div:after {
		width: 18%;
	}

	header #top-menu-wrap > .container > .row > div:before {
		left: 18%;
	}

	header #top-menu-wrap > .container > .row > div:first-child:before {
		right: 18%;
	}

	header #mainNav .navbar-brand {
		margin: -85px 0 -10px;
	}

	header #mainNav .navbar-brand img {
		max-height: 190px;
		min-height: 160px;
	}
}

@media screen and (min-width: 1600px) {
	header #mainNav #navbar .nav {
		max-width: 1350px;
	}

	header #top-menu-wrap > .container > .row > div:after {
		width: 250px;
	}

	header #top-menu-wrap > .container > .row > div:before {
		left: 250px;
		border-left: 85px solid #fff;
	}

	header #top-menu-wrap > .container > .row > div:first-child:before {
		right: 250px;
		border-right: 85px solid #fff;
	}
}
