.sidebar {
	.heading-sidebar {
		@media screen and (min-width: 1200px) {
			display: none;
		}

		@media screen and (max-width: 767px) {
			width: 100%;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 9;
		}

		a {
			display: block;
			text-align: center;
			background: $primary-color;
			color: #fff;
			padding: 12px 15px 11px;
			position: relative;

			&::before,
			&::after {
				content: "";
				width: 25px;
				height: 1px;
				display: block;
				position: absolute;
				top: 25px;
				right: 20px;
				background: #fff;
			}

			&::before {
				transform: rotate(45deg);
			}

			&::after {
				transform: rotate(-45deg);
			}
		}
	}

	.widget {
		border-bottom: 1px solid #e3e7eb;
		margin-bottom: 30px;

		@media screen and (max-width: 767px) {
			max-width: 260px;
			margin-left: auto;
			margin-right: auto;
		}

		&:last-child {
			border-bottom: 0;
		}

		> h3 {
			font-size: 18px;
			font-weight: 700;
			font-family: $font-family-secondary;
			position: relative;
			margin: 0 0 20px;

			&.has-collapse {
				cursor: pointer;
				padding-right: 50px;

				&::before,
				&::after {
					content: "";
					width: 15px;
					height: 1px;
					background: #000;
					display: block;
					position: absolute;
					top: 10px;
					right: 25px;
					transition: all 0.3s;
				}

				&::after {
					transform: rotate(90deg);
					opacity: 0;
				}
			}
		}

		&.close {
			> h3 {
				&.has-collapse {
					&::after {
						transform: rotate(270deg);
						opacity: 1;
					}
				}
			}
		}

		.widget-body {
			padding-bottom: 25px;

			&.has-show-more {
				.show-more-inner {
					overflow: hidden;
				}

				.more-less {
					margin-top: 5px;
					display: inline-block;
				}
			}
		}
	}
}

.filter-color {
	a {
		display: inline-block;
		width: 30px;
		height: 30px;
		margin: 0 11px 5px 0;
		border-radius: 4px;
		border: 1px solid #ebebeb;
		position: relative;

		&::before {
			font-family: 'FontAwesome';
			content: "\f00c";
			opacity: 0;
			position: absolute;
			top: 3px;
			left: 7px;
			color: $primary-color;
			font-size: 14px;
			transition: all 0.3s;
		}

		&.checked {
			border: 1px solid $primary-color;

			&::before {
				opacity: 1;
			}
		}

		&.black {
			background: #000;
		}

		&.blue {
			background: #0000ff;
		}

		&.brown {
			background: #8b4513;
		}

		&.gray {
			background: #808080;
		}

		&.green {
			background: #007100;
		}

		&.orange {
			background: #ffa502;
		}

		&.pink {
			background: #ffc0cb;
		}

		&.purple {
			background: #800080;
		}

		&.red {
			background: #ff0000;
		}

		&.white {
			background: #fff;
		}

		&.yellow {
			background: #ffff01;
		}

		&.khaki {
			background: #9b9966;
		}

		&.lavender {
			background: #9973bd;
		}

		&.charcoal {
			background: #807c76;
		}
	}
}

.dn-hierarchy {
	li {
		@include breakpoint($break-769) {
			position: relative;
			padding: 10px 0 0!important;

			&.dn-hierarchy-node-view-all {
				> span {
					border-bottom: 1px solid #e5e5e5;
					padding: 0 15px 8px;
					display: block!important;
				}
			}

			span {
				&.dn-hierarchy-label {
					border-bottom: 1px solid #e5e5e5;
					padding: 0 15px 8px;
					display: block!important;
				}

				&.dn-hierarchy-expander {
					position: absolute;
					right: 15px;
					top: 14px;
				}
			}
		}
	}
}

@include breakpoint($break-769) {
	.dn-blank-product-hierarchy-container {
		h2 {
			font-family: $font-family-primary!important;
			font-size: 24px!important;
			color: $primary-color!important;
			text-transform: uppercase!important;
			padding-left: 15px;
			padding-bottom: 15px;
			border-bottom:1px solid #e5e5e5;
			margin-bottom: 0;
		}
	}

	.dn-large-fixed-column-inline.dn-page-section.dn-page-section-bbd841f1-5f58-42d8-a08f-11dda7e119c8.dn-page-section-with-fixed-column #dn_s_pc_bbd841f1-5f58-42d8-a08f-11dda7e119c8 > .dn-page-column-fixed {
		//width: 25%;
		padding-right: 30px;
	}

	.dn-large-fixed-column-inline.dn-page-section.dn-page-section-bbd841f1-5f58-42d8-a08f-11dda7e119c8.dn-page-section-with-fixed-column.dn-fixed-column-left #dn_s_pc_bbd841f1-5f58-42d8-a08f-11dda7e119c8 > .dn-page-columns-container {
		//width: 75%;
	}
}
