.builderDescriptionHeader {
  .dn-links-list {
    li {
      a {
        color: #aaa;
        display: block;
        margin-right: 70px;
        &.active,
        &:hover {
          color: #333;
        }

      }

      &:first-child{
        &:not(.clicked){
          a {
            color: #333;
          }
        }
      }
    }
  }
}

.dn-designer .dn-designer-properties-panels .dn-product-details-panel .dn-designer-properties-content .dn-product-color-field-container .dn-color-panel.dn-colors-few .dn-color-panel-cell
{
  width: 40px!important;
  margin: 2px;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #dddddd;

  &.dn-selected {
    position: relative;
    &::before {
      font-family: 'FontAwesome';
      content: "\F00C";
      position: absolute;
      top: 1px;
      left: 13px;
      color: #fff;
      font-size: 14px;
      transition: all 0.3s;
      text-shadow: 0 0 3px #000;
      z-index: 1;
    }
  }
}