.builderDescriptionHeader {
  .dn-links-list {
    li {
      a {
        color: #aaa;
        display: block;
        margin-right: 70px;
        &.active {
          color: #333;
        }

      }

      &:first-child{
        &:not(.clicked){
          a {
            color: #333;
          }
        }
      }
    }
  }
}