.heroSlider {
  h2 {
    font-size: 25px!important;
    @include breakpoint($break-600) {
        font-size: 48px;
    }
  }

  .dn-widget.dn-mobile-align-center {
    text-align: left!important;
    .dn-btn {
      width: auto!important;
      padding: 0 15px!important;
    }
  }
  .dn-slider-arrow-container,
  .dn-slider-select-container{
    display: none!important;

    @include breakpoint($break-600) {
      display: block;
    }
  }
}